{% load thumbnail %}
<a class="{{ link_class }}"
   data-fancybox="finished-works"
   href="{{ work.photo.url }}"
   data-caption="<div class='finished-work-modal__caption'><div class='finished-work-modal__meta'><span class='finished-work-modal__name'>{{ work.name }}</span>{% if work.catalog_image %}<span class='finished-work-modal__number'>Изображение № {{ work.catalog_image.name }}</span>{% endif %}</div></div>">
  {% thumbnail work.photo "760x760" crop="center" as work_thumbnail %}
    <img class="{{ image_class }}"
         src="{{ work_thumbnail.url }}"
         width="{{ work_thumbnail.width }}"
         height="{{ work_thumbnail.height }}"
         alt="{{ work.name }}"
         loading="lazy"
         decoding="async">
  {% empty %}
    <img class="{{ image_class }}"
         src="{{ work.photo.url }}"
         alt="{{ work.name }}"
         loading="lazy"
         decoding="async">
  {% endthumbnail %}
</a>
