{% if page_obj.has_other_pages %}
  <nav class="list-pages catalog-pagination" aria-label="Пагинация">
    <ul>
      {% if page_obj.number > 3 %}
      <li class="page-num">
			<a href="?page=1{{ col_tag }}">Первая страница</a>
      </li>
      {% endif %}

      {% if page_obj.has_previous %}
        {% if page_obj.number > 5 %}
        <li class="page-num">
          <a href="?page={{ page_obj.number|add:-5 }}{{ col_tag }}"
             aria-label="Назад на 5 страниц"
             title="Назад на 5 страниц">&laquo;</a>
        </li>
        {% endif %}

      <li class="page-num">
        <a href="?page={{ page_obj.previous_page_number }}{{ col_tag }}"
           aria-label="Назад на одну страницу"
           title="Назад на одну страницу">&lt;</a>
      </li>
      {% endif %}

      {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
          <li class="page-num page-num-selected" aria-current="page">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
          <li class="page-num">
            <a href="?page={{ p }}{{ col_tag }}">{{ p }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-num">
        <a href="?page={{ page_obj.next_page_number }}{{ col_tag }}"
           aria-label="Вперёд на одну страницу"
           title="Вперёд на одну страницу">&gt;</a>
      </li>

        {% if page_obj.number <= page_obj.paginator.num_pages|add:-5 %}
        <li class="page-num">
          <a href="?page={{ page_obj.number|add:5 }}{{ col_tag }}"
             aria-label="Вперёд на 5 страниц"
             title="Вперёд на 5 страниц">&raquo;</a>
        </li>
        {% endif %}
      {% endif %}

      {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
      <li class="page-num">
			<a href="?page={{ page_obj.paginator.num_pages }}{{ col_tag }}">Последняя страница</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
