{% extends 'pict/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div class="finished-works-grid">
  {% for work in finished_works %}
    <article class="finished-work-card">
      {% include 'pict/includes/finished_work_link.html' with work=work link_class='finished-work-card__link' image_class='finished-work-card__image' %}
    </article>
  {% empty %}
    <p class="finished-works-empty">Готовые работы пока не добавлены.</p>
  {% endfor %}
</div>

{% include 'pict/includes/paginator.html' %}
{% endblock %}
