{% extends 'pict/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<div class="container">
{% if list_pict == 0 %}
  <p>По запросу "{{ get_find }}" ничего не найдено</p>
{% else %}
  {% if get_find %}
    <p>Результат поиска: "{{ get_find }}"</p>
  {% endif %}
  {% for p in page_obj %}
    <div class="item-block">
      {% include 'pict/includes/gallery_item.html' with p=p favorite_ids=favorite_ids %}
    </div>
  {% endfor %}

{% endif %}

</div>
{% include  'pict/includes/paginator.html' %}

{% endblock %}
